<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, admin!</h1>
    <p><%= @name %> only has <%= @coin_bal %> coins left in the machine!</p>
    <p>The total value of coins in the machine is: <%= @total %></p>
  </body>
</html>